<template>
  <div class="search">
    <div class="container">
      <div class="col-xl-8">
        <h2 class="text-info my-4">Type your query</h2>
        <div class="mb-4">
          <input v-model="searchField" type="text" class="form-control" placeholder="Search..." />
        </div>
        <table v-if="checkVolumes" class="table">
          <thead>
            <tr>
              <th scope="col">Thumbnail</th>
              <th scope="col">Title</th>
              <th scope="col">Authors</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="{ volumeInfo, id } in volumes" :key="id">
              <td>
                <img :src="volumeInfo.imageLinks.thumbnail" alt="" />
              </td>
              <td>{{ volumeInfo.title }}</td>
              <th>
                <span v-for="(author, index) in volumeInfo.authors" :key="index">{{ author }}</span>
              </th>
            </tr>
          </tbody>
        </table>

        <div v-else-if="searchField === ''" class="alert alert-primary" role="alert">Query is empty</div>

        <div v-if="searchField && !volumes" class="alert alert-danger" role="alert">Empty result</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchPage',

  data: (vm) => ({
    apiUrl: 'https://www.googleapis.com/books/v1/volumes',
    searchField: '',
    checkVolumes: 0,
    volumes: []
  }),

  async fetch() {
    if (this.searchField !== '') {
      const response = await this.$axios.$get(`${this.apiUrl}?q=${this.searchField}`);
      this.volumes = response.items;

      this.checkVolumes = Number(response.totalItems);
    }
  },

  watch: {
    searchField: {
      handler(val) {
        this.$fetch();
      }
    }
  }
};
</script>
