<template>
  <div class="auth">
    <h2 class="mb-4 text-primary">Enter your TOKEN!</h2>
    <div class="col-xl-3">
      <div class="mb-3">
        <input v-model="userField" type="text" class="form-control" placeholder="Username" />
      </div>

      <div v-if="errors.isMinLength" class="alert alert-danger" role="alert">Token should be 16-character</div>
      <div v-if="errors.isCyrSym" class="alert alert-danger" role="alert">Token should not contain any Cyrillic symbols</div>
      <div v-if="errors.isSpecSym" class="alert alert-danger" role="alert">Token should not contain any special symbols</div>
      <div v-if="errors.isNumber" class="alert alert-danger" role="alert">Token should not contain numbers</div>

      <div class="d-flex align-items-center">
        <a href="#" class="btn btn-primary" :class="{ disabled: isDisabled }" @click.prevent="submitHandler">Submit</a>
        <div v-if="isClickedSubmitBtn" class="spin spinner-border text-primary"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',

  data: (vm) => ({
    userField: '',

    isDisabled: true,

    formats: {
      isMinLength: 16,
      isCyrSym: /^[Ѐ-џ]+$/, //eslint-disable-line
      isSpecSym: /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/, //eslint-disable-line
      isNumber: /^[0-9]*$/ //eslint-disable-line
    },

    errors: {
      isMinLength: false,
      isCyrSym: false,
      isSpecSym: false,
      isNumber: false
    },

    isClickedSubmitBtn: false
  }),

  watch: {
    userField: {
      handler(val) {
        const isValidLength = this.minLengthValidator(val);

        const isValidCyrSym = this.cyrSymValidator(val);

        const isValidSpecSym = this.specSymValidator(val);

        const isValidNum = this.numValidator(val);

        isValidLength ? (this.errors.isMinLength = false) : (this.errors.isMinLength = true);

        isValidCyrSym ? (this.errors.isCyrSym = false) : (this.errors.isCyrSym = true);

        isValidSpecSym ? (this.errors.isSpecSym = false) : (this.errors.isSpecSym = true);

        isValidNum ? (this.errors.isNumber = false) : (this.errors.isNumber = true);

        if (isValidLength && isValidCyrSym && isValidSpecSym && isValidNum) {
          this.isDisabled = false;
        } else {
          this.isDisabled = true;
        }
      }
    }
  },

  methods: {
    minLengthValidator(str) {
      const s = str.split('');
      if (s.length >= this.formats.isMinLength) {
        return true;
      } else {
        return false;
      }
    },

    cyrSymValidator(str) {
      const s = str.split('');
      return s.every((i) => !i.match(this.formats.isCyrSym));
    },

    specSymValidator(str) {
      const s = str.split('');
      return s.every((i) => !i.match(this.formats.isSpecSym));
    },

    numValidator(str) {
      const s = str.split('');
      return s.every((i) => !i.match(this.formats.isNumber));
    },

    submitHandler(e) {
      this.isClickedSubmitBtn = true;

      setTimeout(() => {
        this.isClickedSubmitBtn = false;

        this.$router.push({ path: '/search' });
      }, 3000);
    }
  }
};
</script>

<style>
.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spin {
  margin-left: 20px;
}
</style>
